<a href="https://colab.research.google.com/github/Yalla-Krishnaveni/2216123_AIML_Bootcamp/blob/main/Aimlboootcamp_Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#DECISION MAKING
#IF STATEMENT
a=10
if(a>1):
  print("True")
  print(a)

a1=0
if(a1>1):
  print("True")
  print(a1)
#IF ELSE
b=int(input('Enter your age:'))
if(b>=18):
  print('Eligible')
else:
  print('Not Eligible')

True
10
Enter your age:13
Not Eligible

In [ ]:
#NESTED IF
#Bus tickets
age=int(input('Enter age:'))
cost=int(input('Enter cost for full ticket:'))
if age>12 and age<=18:
  if age<15:
    print("Quarter ticket+discount")
    s=cost*0.25*0.9
  elif age==15:
    print("Quarter ticket")
    s=cost*0.25
  else:
    print("Half ticket")
    s=cost*0.5
elif age>=19 and age<=60:
  print("Full ticket")
  s=60
  s=cost
elif age>60:
  print("Full ticket+discount")
  s=cost*0.9
else:
  print("No ticket")
  s=0
print(s)

Enter age:16
Enter cost for full ticket:60
Half ticket
30.0

In [ ]:
#LOOPS
#FOR LOOP
n=[1,2,3,4,5,6,7]
s=0
for i in n:
  s+=i
print(s)  

for i in range(1,11):
  print(i,end=",")
print("\n")
for i in range(1,11,2):
  print(i,end=",")
print("\n")
x=[1,2,3,4,5]
y=[]
for a in x:
  if a%2!=0:
    y.append(a)
print(y)
print("\n")
d=[0,1,5]
for i in d:
  if i%2==0:
    print(i,end="")
else:
  print("no") 

for l in "python":
  print(l)

#Iterating by sequence indexing
f=["apple","banana","grapes"]
for i in range(len(f)):
  print(f[i])

28
1,2,3,4,5,6,7,8,9,10,

1,3,5,7,9,

[1, 3, 5]


0no
p
y
t
h
o
n
apple
banana
grapes

In [ ]:
#While loop
c=1
while c<11:
  print(c,end=" ")
  c=c+1
print("\n")
c=1
while c<5:
  print(c,end=" ")
  c=c+1
else:
  print("\n")
  print(c,"is not less than 5")

1 2 3 4 5 6 7 8 9 10

1 2 3 4

5 is not less than 5

In [ ]:
x=[[1,2,3],[4,5,6],[7,8,9]]
y=[[1,2,3],[4,5,6],[7,8,9]]
res=[[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(x)):
  for j in range(len(x[0])):
    res[i][j]=x[i][j]+y[i][j]
for r in res:
  print(r)

[2, 4, 6]
[8, 10, 12]
[14, 16, 18]

In [ ]:
m1=[[3,7],[4,9]]
m2=[[6,2],[5,8]]
m3=[[0,0],[0,0]]
for i in range(len(m1)):
    for j in range(len(m2[0])):
        for k in range(len(m1[0])):
            m3[i][j]=m3[i][j]+m1[i][k]*m2[k][j]
print("Product of matrix is....")
for i in range(len(m1)):
    for j in range(len(m2[0])):
        print(m3[i][j],end=' ')
    print()

Product of matrix is....
53 62
69 80

In [ ]:
n=int(input("Enter till which table you want to print:"))
i=1
while(i<=n):
  print(f"Table {i}")
  j=1
  while(j<=10):
    print(f"{i}*{j}={i*j}")
    j=j+1
  print("------------------------") 
  i=i+1

Enter till which table you want to print:3
Table 1
1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
------------------------
Table 2
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
------------------------
Table 3
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
------------------------

In [ ]:
#CONTROL STATEMENTS
#BREAK
for l in "python":
  if l=='t':
    break
  print(l)  

int1=10
while(int1>0):
  print(int1,end=" ")
  int1=int1-1
  if int1==5:
    break  
#CONTINUE
print("\n")  
for l in "python":
  if l=='t':
    continue
  print(l)  
int1=10
while(int1>0):
  print(int1,end=" ")
  int1=int1-1
  if int1==5:
    continue
print("\n")
#PASS
for l in "python":
  if l=='t':
    pass
    print("pass block")
  print(l)  
int1=10
while(int1>0):
  print(int1,end=" ")
  int1=int1-1
  if int1==5:
    print("pass")

p
y
10 9 8 7 6

p
y
h
o
n
10 9 8 7 6 5 4 3 2 1

p
y
pass block
t
h
o
n
10 9 8 7 6 pass
5 4 3 2 1

In [ ]:
min=int(input("Enter the min range:"))
max=int(input("Enter the max range:"))
for l in range(min,max+1):
  r=0
  i=n
  while i>0:
    r=r*10+i%10
    i//=10
    if(n==r)

Enter a range:768
867

'for i in range(1,n):\n  if(l==l[::-1]):\n    print(i) '

In [ ]:
l=[1,2,3,4,5,6]
l1=[]
for i in l:
  if i%2==0:
    l1.append(i)
print(l1)

[2, 4, 6]

In [ ]:
c=["Finland","Germany","Sweden","Ireland","Turkey"]
#Output: [“Finland”,”Ireland”]
l2=[]
for i in c:
  if('and' in i):
    l2.append(i)
print(l2)

['Finland', 'Ireland']

Write a python program that print respective grades of student:
Grade – Outstanding  for marks>=90

Grade A+ for marks >=80, <90

Grade A for marks >=70, <80

Grade B for marks >=60 and <70

<60 Grade C

In [ ]:
n=int(input('Enter your marks:'))
if(n>=90):
  print('O')
elif (n<90 and n>=80):
  print('A+')  
elif (n>=70 and n<80):
  print('A')
elif (n>=60 and n<70):
  print('B')
elif (n<60):
  print('C')

Enter your marks:98
O

In [ ]:
c=["Delhi","Telangana","Goa","AP","Kerala"]
l=[]
#Output: dItAgAaOkA
for i in c:
  i=i.swapcase()
  l.append(i[0])
  l.append(i[-1])
 # s=s+i[0].lower()+i[-1].upper()
print(''.join(l))

dItAgAapkA

In [ ]:
#User defined
def greet(name):
  print("Hello,"+name+" Good Morning")
greet("Krish")

Hello,Krish Good Morning

In [ ]:
#Argument passing(5 types)
#Default
def A(a,b=1,c=2):
  return a+b+c
print(A(3))
print(A(4,4,4))
print(A(2,2))  
#Keyword 
def A(a,b=1,c=2):
  return a+b+c
print(A(a=2,b=3))
print(A(a=1,b=2,c=3))
#Positional
def add(a,b,c):
  return a+b+c
print(add(10,20,30))
print(add(10,b=20,c=30)) 
#arbitary
def k(**kwargs):
  return kwargs
m=k(Apples=10,oranges=20,grapes=30)
print(m['Apples'])  
#arbitary pos
def add_num(*n):
  print(n)
  print(sum(n))
add_num(5,11)

6
12
6
7
6
60
60
10
(5, 11)
16

In [ ]:
#Higher order functions
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def explain(func):
  greet=func("Hi,Iam higher order function")
  print(greet)

explain(shout)
explain(whisper)

HI,IAM HIGHER ORDER FUNCTION
hi,iam higher order function

In [ ]:
#Lamda Function
def incr(x):
  x=x+1
  return x
print(incr(4))

print((lambda x:x+1)(3))
res=lambda x:x+1
print(res(55))

5
4
56

In [ ]:
print((lambda x,y:x**y)(2,6))
print((lambda x,y:x+y)(2,3))

64
5

In [ ]:
l=[1,2,3,4,5,6]
def inc(num):
  return num+2
res=list(map(inc,l))
print(res)
r1=list(map(lambda x:x+2,l))  
print(r1)

[3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7, 8]

In [ ]:
l=[1,2,3,4,5,6]
r=list(map(lambda x:x%2==0,l))
print(r)
def eor(num):
  if num%2==0:
    return "{} is even".format(num)
  else:
    return "{} is odd".format(num)
eor(3)

[False, True, False, True, False, True]

'3 is odd'

In [ ]:
l=[1,2,3,4,5,6]
list(map(eor,l))

['1 is odd', '2 is even', '3 is odd', '4 is even', '5 is odd', '6 is even']

In [ ]:
li=['apple','banana','grapes']
r=list(map(lambda x:x.capitalize(),li))
print(r)

['Apple', 'Banana', 'Grapes']

In [ ]:
#Filter
def o(n):
  if n%2!=0:
    return n
m=[9,3,4,5,8,-2]
print(list(filter(o,m)))
m=[4,-5,9,87,99,100]
t=list(filter(lambda x:x%2==0,m))
print(t)

[9, 3, 5]
[4, 100]

In [ ]:
x=int(input())
a=('Z'*x)
y=len(a)
z=2*y
y=('O'*z)
print(a+y)

6
ZZZZZZOOOOOOOOOOOO

In [ ]:
import os 
os.mkdir("hi")
os.chdir("hi")
os.getcwd()
os.listdir()
os.rmdir("/content/hi")

In [ ]:
#math module
import math as m
print(m.pi)
print(m.e)
print(m.sqrt(48))
print(m.factorial(5))
print(m.floor(1.4))
print(m.ceil(1.4))
print(m.log(10))
print(m.tan(5))

3.141592653589793
2.718281828459045
6.928203230275509
120
1
2
2.302585092994046
-3.380515006246586

In [ ]:
#sys module
import sys
print(sys.path)
print(sys.version)
print(sys.maxsize)

['', '/content', '/env/python', '/usr/lib/python37.zip', '/usr/lib/python3.7', '/usr/lib/python3.7/lib-dynload', '/usr/local/lib/python3.7/dist-packages', '/usr/lib/python3/dist-packages', '/usr/local/lib/python3.7/dist-packages/IPython/extensions', '/root/.ipython']
3.7.13 (default, Apr 24 2022, 01:04:09)
[GCC 7.5.0]
9223372036854775807

In [ ]:
import statistics as s
print(s.mean([3,4,5]))
print(s.median([3,4,5]))
print(s.mode([4,4,5]))
print(s.variance([3,4,5]))

4
4
4
1

In [ ]:
#time module
import time
print(time.time())
print(time.localtime())
print(time.asctime())
print(time.ctime())
print(time.sleep(1.5))

1655201656.2795854
time.struct_time(tm_year=2022, tm_mon=6, tm_mday=14, tm_hour=10, tm_min=14, tm_sec=16, tm_wday=1, tm_yday=165, tm_isdst=0)
Tue Jun 14 10:14:16 2022
Tue Jun 14 10:14:16 2022
None

In [ ]:
#random module
import random as r
print(r.randrange(1,50))
print(r.randint(1,100))
print(r.random())

31
39
0.6144897744581778

In [ ]:
l=[1,2,5,6,7,10,15,25,65,78,90]
for i in l[:]:
  if i%5==0:
    l.remove(i)
print(l)

[1, 2, 6, 7, 78]

In [ ]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
#Output: [“Apple”,”Avacado”,”Amla”]
for i in Fruit[:]:
  if i[0]!='A':
    Fruit.remove(i)
print(Fruit)

['Apple', 'Avacado', 'Amla']

In [ ]:
Fruit=["Apple","Banana","Pear","Avacado","Orange","Amla"]
l=[]
#Output: [“Apple”,”Avacado”,”Amla”]
t=list(filter(lambda x:x[0]=='A',Fruit))
print(t)

['Apple', 'Avacado', 'Amla']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
msg="Welcome to gradstellar bootcamp"
#X=”number of occurrences of ‘o’ in mssg”
#Y=”number of occurrences of ‘e’ in mssg”
#Compute (X+Y)2
x=msg.count('o')
print(x)
y=msg.count('e')
print(y)
z=(x+y)**2
print(z)

4
3
49

In [ ]:
a=['apple','orange','grapes','ball','bat','umbrella']
#O/P: [‘apple’,’orange’,’umbrella’]
for i in a:
  if i[0]!='a':
    a.remove(i)
  elif i[0]!='e':
    a.remove(i)
  elif i[0]!='i':
    a.remove(i)
  elif i[0]=='o':
    a.remove(i)
  elif i[0]=='u':
    a.remove(i)
print(a)

['orange', 'ball', 'umbrella']

In [ ]:
Li=[56,78,32,45,45,45,19,20]
#O/P: [56,78,32,45,19,20]
print(list(set(Li)))

[32, 45, 78, 19, 20, 56]