<a href="https://colab.research.google.com/github/Yalla-Krishnaveni/2216123_AIML_Bootcamp/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Implement the methods of String with examples.

In [ ]:
s='Krishnaveni yalla'
print(s)
print(len(s))#length
print(s[5])#indexing
print(s.upper())#upper case
print(s.lower())#Lower case
print(s.capitalize())#capitalize
print(s.title())#title
print(s.replace('K','A'))#split
#JOIN the strings
a="Hello"
b="World"
c=a+b
print(c)
#taking input
s1=input('Enter your name:')
print('My name is',s1)

Krishnaveni yalla
17
n
KRISHNAVENI YALLA
krishnaveni yalla
Krishnaveni yalla
Krishnaveni Yalla
Arishnaveni yalla
HelloWorld
Enter your name:k
My name is k

2. Implement the methods of List with examples.

In [ ]:
s=[1,2,3,4,"Krish","Yalla","Teju"]
print(s)
print(s[5])#indexing
print(s[1:3])#slicing
s.insert(3,"Jyoshna")#inserting
print(s)
#Extend
s1=[7,8,9,"Hari"]
s.extend(s1)
print(s)
s.remove('Hari')#remove
print(s)
s.pop()#pop
print(s)
del s[0]#delete
print(s)
s.clear()
print(s)
#Nested tuple
s=[1,2,[1,2,3],[1,2],3]
print(s[2][1])

[1, 2, 3, 4, 'Krish', 'Yalla', 'Teju']
Yalla
[2, 3]
[1, 2, 3, 'Jyoshna', 4, 'Krish', 'Yalla', 'Teju']
[1, 2, 3, 'Jyoshna', 4, 'Krish', 'Yalla', 'Teju', 7, 8, 9, 'Hari']
[1, 2, 3, 'Jyoshna', 4, 'Krish', 'Yalla', 'Teju', 7, 8, 9]
[1, 2, 3, 'Jyoshna', 4, 'Krish', 'Yalla', 'Teju', 7, 8]
[2, 3, 'Jyoshna', 4, 'Krish', 'Yalla', 'Teju', 7, 8]
[]
2

3. Implement the methods of Tuple with examples.

In [ ]:
s=(1,2,3,4)
s1=("hi","hello","happy")
print(s)
print(s[3])#indexing
print(s[1:3])#slicing
print(min(s))#minimum element
print(max(s))#max element
print(len(s))#length
#Nested tuple
s=(1,2,[1,2,3],[1,2],3)
print(s[2][1])

(1, 2, 3, 4)
4
(2, 3)
1
4
4
2

4. Implement the methods of Dictionary with examples

In [ ]:
d={'name':'krish','age':19,'dob': '04-05-2003'}
print(d.keys())#displaying keys
print(d['name'])#displaying value to corresponding key
print(d.values())#displaying values
d.update({'college':'SR University'})
print(d)
d.pop('college')
print(d)

dict_keys(['name', 'age', 'dob'])
krish
dict_values(['krish', 19, '04-05-2003'])
{'name': 'krish', 'age': 19, 'dob': '04-05-2003', 'college': 'SR University'}
{'name': 'krish', 'age': 19, 'dob': '04-05-2003'}

5. Implement the methods of Sets with examples

In [ ]:
s={1,2,3,8,9,10}
s1={1,2,3,(5,6),(1,2,3),"hello"}
l=[1,2,3,4]#convert list into set
s2=set(l)
print(s2)
s.add(2)
print(s)
s.update([2,3,4])
print(s)
s.discard(3)
print(s)
s.remove(4)
print(s)
#set operations
a={10,11,12,13}
b={9,10,8,11}
#union
print(a|b)
print(a.union(b))
print(b.union(a))
#intersection
print(a&b)
print(a.intersection(b))
print(b.intersection(a))
#difference
print(a-b)
print(a.difference(b))
print(b-a)
print(b.difference(a))

{1, 2, 3, 4}
{1, 2, 3, 8, 9, 10}
{1, 2, 3, 4, 8, 9, 10}
{1, 2, 4, 8, 9, 10}
{1, 2, 8, 9, 10}
{8, 9, 10, 11, 12, 13}
{8, 9, 10, 11, 12, 13}
{8, 9, 10, 11, 12, 13}
{10, 11}
{10, 11}
{10, 11}
{12, 13}
{12, 13}
{8, 9}
{8, 9}

6. Write a python program to convert Decimal to Binary, Octal and Hexadecimal with 
direct method.

In [ ]:
a=int(input('Enter a number:'))
print("The input value is:",a)
print("Binary:",bin(a))
print("Octal:",oct(a))
print("Hexadecimal",hex(a))

Enter a number:2
The input value is: 2
Binary: 0b10
Octal: 0o2
Hexadecimal 0x2

7. Implement Arithmetic operators with examples

In [ ]:
a=4
b=2
print('Addition is',a+b)
print('Subtraction is',a-b)
print('Multiplication is',a*b)
print('Division is',a/b)
print('Modulo division is',a%b)
print('Exponential is',a**b)
print('Floor division is',a//b)

Addition is 6
Subtraction is 2
Multiplication is 8
Division is 2.0
Modulo division is 0
Exponential is 16
Floor division is 2

8. Implement Assignment operators with examples.

In [ ]:
a=4
b=2
a+=b
print('Addition is',a)
a-=b
print('Subtraction is',a)
a*=b
print('Multiplication is',a)
a/=b
print('Division is',a)
a%=b
print('Modulo division is',a)
a**=b
print('Exponential is',a)
a//=b
print('Floor division is',a)

Addition is 6
Subtraction is 4
Multiplication is 8
Division is 4.0
Modulo division is 0.0
Exponential is 0.0
Floor division is 0.0

9. Implement Comparison operators with examples.

In [ ]:
x=4
y=3
print(x==y)#equal
print(x!=y)#not equal
print(x>y)#greater
print(x<y)#less than
print(x>=y)#greater than or equal to
print(x<=y)#less than or equal to

False
True
True
False
True
False

10. Implement Logical operators with examples.

In [ ]:
x=True
y=False
print("a and y is",x and y)
print("a or y is",x or y)
print("a is",not x)

a and y is False
a or y is True
a is False

11. Implement Bitwise operators with examples.

In [ ]:
a=4
b=2
print(a&b)#And
print(a^b)#XOR
print(a|b)#OR
print(~a)#Negation
print(a>>2)#Right Shift
print(a<<2)#left shift

0
6
6
-5
1
16

12. Implement Membership operators with examples.

In [ ]:
x="Krishna Veni"
y={10:'y',20:'z'}
print('H' in x)
print(10 in y)
print('a' not in y)

False
True
True

13. Implement Identity operators with examples

In [ ]:
x1=101
y1=100
x2="Hello"
y2="Happy"
x3=[1,2,3]
y3=[1,2,3]
print(x1 is not y1)
print(x1 is not y1)
print(x3 is y3)

True
True
False

14. Demonstrate Negative indexing for List and apply slicing

In [ ]:
l=[1,2,"Krish","Yalla"]
print(l[-1])#Negative indexing
print(l[1:3])#Slicing
print(l[::-1])#Reverse
print(l[-1:-3:-1])

Yalla
[2, 'Krish']
['Yalla', 'Krish', 2, 1]
['Yalla', 'Krish']

15. Predict the output for the given code snippet and justify the result.

In [ ]:
print('A series of characters designated as one object known as a string'[::-1])
print('A series of characters designated as one object known as a string'[::-1][4::3])
print("--------------------")
print('Welcome to Python training program'[3:10][::-1])

gnirts a sa nwonk tcejbo eno sa detangised sretcarahc fo seires A
taawkcbe  tgestrcoeeA
--------------------
ot emoc

Justofication:
1.[::-1] reverses the entire string and [4::3] prints initially the first letter at 4th index and next letters after every 2 indexes
2.[3:10] prints the range of letters between indexes 3 and 10 later on it reverses the range of letters obtained in [3:10]

16. Write a python code to get desired output

In [ ]:
s=input('Enter a string')
print('p_phrase=',s)
t=s[::-1]
print(t.upper())

Enter a stringwas it a car or a cat I saw
p_phrase= was it a car or a cat I saw
WAS I TAC A RO RAC A TI SAW

17. You are required to generate a word similar to ZOO, X and Y that denote the number 
of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. 
 Input X= 2 Output ZZOOOO 
 Input X= 5 Output ZZZZZOOOOOOOOOO

In [28]:

a=int(input())
for i in range(a):
  print('Z',end="")
for i in range(a<<1):
  print('O',end="")
print("\n") 
#Using lists
a=int(input())
l=[]
for i in range(a):
  l.insert(a,'Z')
for i in range(a<<1):
  l.insert(a,'O')
print(''.join(l))

2
ZZOOOO

3
ZZZOOOOOO