<a href="https://colab.research.google.com/github/Yalla-Krishnaveni/2216123_AIML_Bootcamp/blob/main/Copy_of_Day_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#step1
dataset="/content/drive/MyDrive/SUV_Purchase.csv"
import pandas as pd
df=pd.read_csv(dataset)#dataframe-2D

In [ ]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [ ]:
df=df.drop(['User ID','Gender'],axis=1)

In [ ]:
from matplotlib.axis import YTick
#method 2 to load the data in the form of arrays -by library numpy
import numpy as np
X=np.array(df[['Age','EstimatedSalary']])
Y=np.array(df[['Purchased']])

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)

In [ ]:
X_train

In [ ]:
X_train

In [ ]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [ ]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
y_pred=model.predict(sc.transform(X_test))
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
print("Predicted value for training data:",model.score(X_train,Y_train)*100)
print("Predicted value for testing data:",model.score(sc.transform(X_test),Y_test)*100)

Predicted value for training data: 82.1875
Predicted value for testing data: 27.500000000000004

In [ ]:
accuracy=model.score(sc.transform(X),Y)*100
print(accuracy)

35.75

DEPLOYMENT - Bringing our ML Model into exsistence

In [ ]:
age=int(input('Enter Age:'))
es=int(input('Enter estimated salary:'))
o=model.predict(sc.transform([[age,es]]))
print(o)
if o[0]==1:
  print('The person will Purchase SUV')
else:
  print('The person will not Purchase SUV')

#ABSTRACTION

Enter Age:22